<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="static/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/img/favicon/site.webmanifest">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="static/js/script.js"></script>
    </body>
</html>