{% extends "base.html" %}

{% block title %}Погода{% endblock %}

{% block content %}
    {% raw %}
        <div id="page">
            <div class="container">
                <div class="citySearch">
                    <input type="text"
                           @input="sendSearchRequest"
                           @keydown.down="cityButtonSelect"
                           @keydown.up="cityButtonSelect"
                           @keydown.enter="cityButtonSelect"
                           v-model="searchText">
                    <div class="searchOptions" id="searchOptions" v-if="searchResults.show">
                        <a class="searchOption" v-for="(result, index) in searchResults.results"
                           @click="chooseSearchResult"
                           @mouseover="deactivateSelectedCity"
                           :id="'option' + index" href="#">
                            {{ result }}
                        </a>
                    </div>
                </div>
                <div class="currentWeather">
                    <div class="currentWeatherFlex">
                        <div class="weatherText">
                            <div class="currentDate">
                                {{ currentDate }}
                            </div>
                            <div class="weatherData">
                                <div class="currentTemperature">
                                    {{ currentTemperature }}
                                </div>
                                <div class="currentTime">
                                    {{ currentTime }}
                                </div>
                                <div class="realFeel">
                                    {{ realFeel }}
                                </div>
                                <div class="humidity">
                                    {{ humidity }}
                                </div>
                            </div>
                        </div>
                        <div class="weatherIcon">
                            <currentimage :imagename="currentImage"
                                          :class="runAnimation ? 'animated' : ''"></currentimage>
                        </div>
                    </div>
                </div>
                <div class="weatherForecast">
                    <div class="forecastItem" v-for="forecast in forecasts">
                        <div class="forecastText">
                            {{ forecast.dayOfWeek }}<br>{{ forecast.temperature }}
                        </div>
                        <div class="forecastImage">
                            <currentimage :imagename="forecast.icon"></currentimage>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}