{% extends "base.html" %}

{% block title %}Погода{% endblock %}

{% block content %}
    {% raw %}
        <div id="page">
            <div class="container">
                <div class="citySearch">
                    <input type="text">
                </div>
                <div class="currentWeather">
                    <div class="currentWeatherFlex">
                        <div class="weatherText">
                            <div class="currentDate">
                                {{ currentDate }}
                            </div>
                            <div class="weatherData">
                                <div class="currentTemperature">
                                    {{ currentTemperature }}
                                </div>
                                <div class="currentTime">
                                    {{ currentTime }}
                                </div>
                                <div class="realFeel">
                                    {{ realFeel }}
                                </div>
                                <div class="humidity">
                                    {{ humidity }}
                                </div>
                            </div>
                        </div>
                        <div class="weatherIcon">
                            <currentimage :imagename="currentImage"></currentimage>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endraw %}

{% endblock %}