{% extends "base.html" %}

{% block title %}Погода{% endblock %}

{% block content %}
    <div class="source">
        designed by
        <a href="https://ru.freepik.com/vectors/template">
            freepik
        </a>
    </div>
    <div class="current-weather">
        <div class="current-weather-data">
            <div class="weather-text-data">
                <div class="city-name">
                    <input type="text" id="city-name-value">
                </div>
                <div class="date-info">
                    Monday, may 23
                </div>
                <div class="condition-data">
                    <div class="temp-info">
                        27&#176;C / 81F
                    </div>
                    <div class="time-info">
                        14:35
                    </div>
                    <div class="real-feel">
                        Real Feel 25&#176;C / 76F
                    </div>
                    <div class="humidity">
                        Humidity 61%
                    </div>
                </div>
            </div>
            <div class="weather-image">
                <img src="static/img/10d.png">
            </div>
        </div>
        <div class="weather-forecast">
            <table class="weather-forecast-table">
                <tr class="weather-forecast-row">
                    <td class="weather-forecast-item">
                        <div class="item-container">
                            <div class="forecast-text">
                                Tue<br>26&#176;C
                            </div>
                            <div class="forecast-image">
                                <img src="static/img/01d.png">
                            </div>
                        </div>
                    </td>
                    <td class="weather-forecast-item">
                        <div class="item-container">
                            <div class="forecast-text">
                                Tue<br>26&#176;C
                            </div>
                            <div class="forecast-image">
                                <img src="static/img/13d.png" width="80" height="65">
                            </div>
                        </div>
                    </td>
                    <td class="weather-forecast-item">
                        <div class="item-container">
                            <div class="forecast-text">
                                Tue<br>26&#176;C
                            </div>
                            <div class="forecast-image">
                                <img src="static/img/10d.png" width="80" height="65">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="weather-forecast-row">
                    <td class="weather-forecast-item">
                        <div class="item-container">
                            <div class="forecast-text">
                                Tue<br>26&#176;C
                            </div>
                            <div class="forecast-image">
                                <img src="static/img/10d.png" width="80" height="65">
                            </div>
                        </div>
                    </td>
                    <td class="weather-forecast-item">
                        <div class="item-container">
                            <div class="forecast-text">
                                Tue<br>26&#176;C
                            </div>
                            <div class="forecast-image">
                                <img src="static/img/10d.png" width="80" height="65">
                            </div>
                        </div>
                    </td>
                    <td class="weather-forecast-item">
                        <div class="item-container">
                            <div class="forecast-text">
                                Tue<br>26&#176;C
                            </div>
                            <div class="forecast-image">
                                <img src="static/img/10d.png" width="80" height="65">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}